{% extends "layout.twig" %}

{% block content %}

    <!-- Prints blog posts obtained from database -->
    {% for blogPost in blogPosts %}
        <div class="blog-post">
            <h2>{{ blogPost.title }}</h2>
            <p><a href="">by Alex</a> on XX/XX/XXXX</p>
            {% if blogPost.img_url %}
                <div class="blog-post-image">
                    <img class="img-responsive" src="{{ blogPost.img_url }}" alt="">
                </div>
            {% endif %}
            <div class="blog-post-content">
                {{ blogPost.content }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
